<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="/home">Event Suite</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/events']" i18n>Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/venues']" i18n>Venues</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/resources']" i18n>Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/malls']" i18n>Malls</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/registrations']" i18n>Registrations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/locations']" i18n>Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/smart-bracelets']" i18n>Smart Bracelets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/tickets']" i18n>Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/reservations']" i18n>Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/event-resources']" i18n>Event Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/users']" i18n>Users</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" i18n>
              Database
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/backup']" i18n>Create backup</a></li>
            </ul>
          </li>
          <li class="nav-item " *ngIf="isUserAuthenticated()">
            <a class="nav-link active " href="home" (click)="logOut()" i18n>Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>